body {
  color: #9b6f3f;
  font-family: Inconsolata;
  width:auto;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  background-color: #a1dff8;
  border: 2px solid #9b6f3f;
  border-radius: 8px;
  align: center;
}

p, div, div.input-field, div.container, input-field {
  color: #9b6f3f;
}

h1 {
  color: #9b6f3f;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

p.titleText {
  text-align: center;
}

#errorText {
  background-color: #c71d53;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  width: 100%
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #1ea8e0;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #1ea8e0;
  box-shadow: 0 1px 0 0 #1ea8e0
}

.btn {
  background-color: #9b6f3f;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: #1ea8e0;
}

.btn:hover {
  background-color: #c79a40;
}

#icon_chain {
  width: 45px;
  float: right;
  /* height: 45px; */
  /* display: inline; */
}
