body {
  color: #9b6f3f;
  font-family: Inconsolata;
  width:auto;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  background-color: #6cc4e8;
  border: 2px solid #9b6f3f;
  border-radius: 8px;
  align: center;
}

p, div, div.input-field, div.container, input-field {
  color: #9b6f3f;
}

h1 {
  color: #9b6f3f;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

p.titleText {
  text-align: center;
}

div.twitter {
  margin: 5px;
}

#accountCircle {
    margin-top: 10px;
}

#errorText {
  background-color: #c71d53;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  width: 100%
}

.input-field .prefix {
  font-size: 2.8rem;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #1ea8e0;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #1ea8e0;
  box-shadow: 0 1px 0 0 #1ea8e0
}

.btn {
  background-color: #9b6f3f;
  border-radius: 6px;
  height:auto;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 15px;
  line-height: 1.2rem;
  color: #1ea8e0;
  font-weight: 700;
}

.btn:hover {
  background-color: #c79a40;
}

#iconChain {
  width: 42px;
  height: 13px;
  float: right;
  text-align: center;
  padding: 0px;
  margin: 2px;

}

#spinner {
  display: none;
  width: 70px;
  height: 70px;
  border: 0px;
  margin-bottom: -30px;
  /*float: right; */
}

#logo {
  width: 159px;
  height: 227px;
  border: 0px;
  margin-right: -50px;
  margin-top: -40px;
  float: right;
}

div#markov {
  line-height: 1rem;
}

#markovNewTweetTitle, #markovListTitle {
  font-weight: 900;
  margin-bottom: 10px;
}

div.twitterName {
  align: right;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

div.tweet {
  margin-right: 20px;
}

div.tweet:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 15px;
}

div#moreLink {
  color: #999;
  align: right;
  float: right;
  margin-right: 20px;
}

div#morelink a {
  color: #0097d4;
}

@media (max-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }
  #logo {
    width: 120px;
    height: auto;
  }
}

@media (max-width: 488px) {
  #iconChain {
    display: none;
  }
  h1 {
    font-size: 3rem;
  }
  #logo {
    width: 80px;
    height: auto;
  }
}
